
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


.col,
.col2 {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    
   
}
.details p{
  
    line-height: 25px;
 
}


.details p i {
    color: red;
}

/* Form Styles */
form {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
    height: 100px;
}

button {
    background-color: blueviolet;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #ff6347;
}

/* Media Query for Tablets */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .col,
    .col2 {
        margin-bottom: 20px;
    }
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .container {
        width: 90%;
    }

    button {
        padding: 12px;
    }
}
